body {
    background-color: #fffafa;
}
/* NAVBAR */ 
#menuNavbar {
    background-color: #800080;
}

#nachoLogo {
    clear: both;
    background-image: url('img/logo.png');
    width: 40px;
    height: 38px;
    background-size: 100%;
}


/* NAVBAR SEARCH */

#formSearch {
    border-radius: 20px;
    background-color: #fffafa;  
    border: 1px solid #777777;
    min-width: 250px;
    padding-right: 28px;
    padding-left: 15px ;
}

#formSearch:focus {
    box-shadow: none;
}

#formSearchButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba( 255, 255, 255, 100);
    border: 0;
    margin-left: -30px;
    padding: 1px 5px 15px 1px;
}
#formSearchButton i {
    color: black;
}

#formSearchButton:focus{
    box-shadow: none;
}

/* END NAVBAR SEARCH */
 
/* END NAVBAR */

/* FOOTER */

footer {
    position: relative;
    background-color: #800080;
    bottom: 0;
}

#footerArea {
    text-align: center;
}


#footerLogo {
    padding: 20px;
    border-bottom: 1px solid #fffafa;
}

#footerLogo img {
    width: 60px;
}


.contact-box {
    border-bottom: 1px solid #fffafa;
}

.contact-box i {
    color: #fffafa;
    border: solid 1px #fffafa;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;

}  

.contact-box p {
    font-size: 14px;
    color: #fffafa;
}

.contact-title {
    font-weight: bold;
    color: #49acbb;
}

#copyArea {
    font-size: 14px;
    text-align: center;
    color: #fffafa;
    margin-bottom: 0;
}

#copyArea a{
    font-weight: bold;
    text-decoration: none;
    color: #fffafa;
}


/* END FOOTER */

