body {
    background-color: #fffafa;
}

#menuNavbar {
    background-color: #800080;
}

#nachoLogo {
    clear: both;
    background-image: url('img/logo.png');
    width: 40px;
    height: 38px;
    background-size: 100%;
}

#footerJumbotron {
    background-color: #800080;
    position: static;
    text-align: center;
}

#footerJumbotron a{
    font-size: 15px;
    text-decoration: none;
    color:white;
    text-shadow: 0.5px 0.5px #111111;
}


.form-control {
    min-width:300px;  
    max-width:300px;  
}

.btn {
    min-width:70px;
}
