body {
    background-color: #fffafa;
}
/* NAVBAR */ 
#menuNavbar {
    background-color: #800080;
}

#nachoLogo {
    clear: both;
    background-image: url('img/logo.png');
    width: 40px;
    height: 38px;
    background-size: 100%;
}

.form-control {
    min-width:300px;  
    max-width:300px;  
}

.btn {
    min-width:70px;
}

/* END NAVBAR */

/* FOOTER */

footer {
    position: relative;
    background-color: #800080;
    bottom: 0;
}

#footerArea {
    text-align: center;
}


#footerLogo {
    padding: 20px;
    border-bottom: 1px solid #fffafa;
}

#footerLogo img {
    width: 60px;
}


.contact-box {
    border-bottom: 1px solid #fffafa;
}

.contact-box i {
    color: #fffafa;
    border: solid 1px #fffafa;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;

}  

.contact-box p {
    font-size: 14px;
    color: #fffafa;
}

.contact-title {
    font-weight: bold;
    color: #49acbb;
}

#copyArea {
    font-size: 14px;
    text-align: center;
    color: #fffafa;
    margin-bottom: 0;
}

#copyArea a{
    font-weight: bold;
    text-decoration: none;
    color: #fffafa;
}


/* END FOOTER */

