/* LIST */
#header-fixed {
    position: fixed;
    top: 0px; 
    display: none;
    background-color:#f9f9f9;
}

#current-list {
    cursor: default;
}

#thead-checkbox {
    text-align: center;
    width: 10%;
}

#thead-checkbox i{
    cursor: pointer;
}

#thead-name {
    text-align: center;
    width: 40%;
}

#thead-name i{
    margin-left: -20px;
    cursor: pointer;
}

#thead-director {
    text-align: center;
    width: 35%;
}

#thead-director i{
    margin-left: -20px;
    cursor: pointer;
}

#thead-year {
    text-align: center;
    width: 15%;
}

#thead-year i{
    margin-left: -20px;
    cursor: pointer;
}

#tbody-checkbox {
    text-align: center;
}

#checkbox-input {
    margin: 0 0 0 -7px;
    cursor: pointer;
}

#tbody-name {
    text-align: center;
}

#tbody-director {
    text-align: center;
}

#tbody-year {
    text-align: center;

}




/* END LIST */

/* PAGE UP BUTTON */

#button_up {
    background: #0f0f0f none repeat scroll 0 0;
    border-radius: 3px;
    width: 6vh;
    height: 6vh;
    z-index: 999;
    transition: all 500ms ease-out;
    text-align: center;
    bottom: 4%;
    right: 3%;
    cursor: pointer;
    position: fixed;
    opacity: 0.75;
    vertical-align: middle;
}

#button_up:hover {
    background: #e0e0e0;
    width: 6.2vh;
    height: 6.2vh;
    line-height: 6.2vh;
    opacity: 0.75;
    vertical-align: middle;
    box-shadow: 0 0 10px 3px #272727;
}

#button_up i {
    color: #e0e0e0;
    font-size: 4.5vh;
    line-height: 6vh;
}

#button_up:hover i {
    color: #0f0f0f;
    font-size: 6vh;
    line-height: 6.2vh;
}

.invisible {
    visibility: hidden;
    display: none;
}

/* END PAGE UP BUTTON */